<table class="table">
  <thead>
    <tr>
      <th scope="col">Name Basic</th>
      <th scope="col">Routes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToNgIFView()">
          Ng IF View
        </button>
      </td>
      <td>ngif-else-home</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToNgIFElse()">
          Ng IF Else
        </button>
      </td>
      <td>ngif-view</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToNgFor()">
          NgFor
        </button>
      </td>
      <td>ng-for</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToNgSwitch()">
          Ng Switch
        </button>
      </td>
      <td>ng-switch</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToNgFrom()">
          Ng From
        </button>
      </td>
      <td>ng-from-home</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToEventBindingHome()">
          EventBindgHome
        </button>
      </td>
      <td>event-binding-home</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToPrimeNG()">
          PrimeNG
        </button>
      </td>
      <td>event-binding-home</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToStyleHome()">
          Style Home
        </button>
      </td>
      <td>style-home</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToQrCode()">
          QrCode
        </button>
      </td>
      <td>qrcode</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateToViewChild()">
          ViewChild
        </button>
      </td>
      <td>view-child</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-success" (click)="navigateDirective()">
          Directive
        </button>
      </td>
      <td>view-child</td>
    </tr>
  </tbody>
</table>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Service</th>
      <th scope="col">Routes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button class="btn btn-warning" (click)="navigateToService1()">
          Service 1
        </button>
      </td>
      <td>service1</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-warning" (click)="navigateToService2()">
          Service 2
        </button>
      </td>
      <td>service2</td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-warning" (click)="navigateToService3()">
          Service 3
        </button>
      </td>
      <td>service3</td>
    </tr>
  </tbody>
</table>
