<body>
    <table class="table">
        <thead>
          <tr>
            <th class="text-primary" scope="col">View Input</th>
            <th scope="col">
                <a  class="link-danger" routerLink="/view-input">Navigation</a>
            </th>
          </tr>
          <tr>
            <th class="text-primary" scope="col">View Button</th>
            <th scope="col">
                <a  class="link-danger" routerLink="/view-button">Navigation</a>
            </th>
          </tr>
        </thead>
      </table>
</body>
